[submodule "lib/stdex"]
	path = lib/stdex
	url = https://github.com/Amebis/stdex.git
[submodule "lib/WinStd"]
	path = lib/WinStd
	url = https://github.com/Amebis/WinStd.git
[submodule "lib/wxExtend"]
	path = lib/wxExtend
	url = https://github.com/Amebis/wxExtend.git
[submodule "MSI/MSIBuild"]
	path = MSI/MSIBuild
	url = https://github.com/Amebis/MSIBuild.git
[submodule "MSI/MSICA"]
	path = MSI/MSICA
	url = https://github.com/Amebis/MSICA.git
[submodule "Updater"]
	path = Updater
	url = https://github.com/Amebis/Updater.git
[submodule "lib/oatpp"]
	path = lib/oatpp
	url = https://github.com/oatpp/oatpp.git
[submodule "lib/oatpp-swagger"]
	path = lib/oatpp-swagger
	url = https://github.com/oatpp/oatpp-swagger.git
